<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <% movies.forEach((movie) => { %>
            <li>
                <a href="/movies/<%= movie.id%>"><%=movie.title%></a>
                <a href="/movies/<%= movie.id%>/edit"><span>&#x270e;</span></a>
                <form action="<%= '/movies/' + movie.id + '?_method=DELETE' %>" method="POST">
                <input type="submit" value="X" />
                </form>
            </li>
        <% }) %>

    </ul>
  </body>
</html>
